@import "tailwindcss";

* {
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(1, 7, 37, 0.863);
  border-radius: 2px;
}


/* ::-webkit-scrollbar-thumb {
  background: rgba(11, 78, 90, 0.534);
  border-radius: 2px;
} */

.footer-icon {
  @apply text-white text-2xl p-3
         
         transition-all duration-300 
         hover:text-teal-400 
         hover:border-teal-400 
         hover:scale-110 
         hover:shadow-md hover:shadow-teal-500/30;
}
